// Entry file for CSS
@import './styles/reset.scss';


body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: black;
}


h1{
  display: block;
  color: aqua;
  font-size: 50px;
}

canvas{
  display: none;
}

#first-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00FF48;
  font-size: 40px;
}

#instructions{
  display: flex;
  justify-content: center;
  align-items: center;

}

#instructions-screen{
  display: none;
}

#game-over{
  display: none;
}

h2{
  color: white;
}

